@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i");
@import url('https://fonts.googleapis.com/css?family=Raleway');

html{
    padding: 10px 2px 0 2px;
    margin: 0px;
}


.container {
    max-width: 1000px;
    width: 100%;
    /* height: 100%; */
    margin: 0 auto;
}



.main-nav {
    width: 100%;
    height: 90px;
    background: #FFFFFF;
    border-bottom: 2px dashed #C0C0C0;
    
  }
  .main-nav .nav-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
.img-container{
    background-image: url(../img/banner.jpg);
    height: 600px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    /* padding-bottom: 100px; */
}

.inner-container{
    text-align: center;
    position: absolute;
    width: 100%;
    color: white;
    height: auto;
    margin-top: 200px;
}

h1 {
    font-size: 2.4rem;
    /* font-family */
}

h2{
    margin-top: -17px;
    font-size: 1.7em;
    text-align: center;
    font-weight: 400;
}

a{
    margin-top: 20px;
    font-size: 1.3em;

}

.btn{
    display: inline-block;
    width: 200px;
    font-weight: bold;
    padding: 10px;
    color: #fff;
    border: 4px solid #fff;
    text-align: center;
    outline: none;
    text-decoration: none;
    transition: background-color 0.2s ease-out, color 0.2 ease-out;
}

.btn:hover,.btn:active{
    background-color: #fff;
    color: #000;
    transition: backgroun-color 0.3s ease-in, color 0.3s ease-in;
}

@media (max-width: 500px) {
    .inner-container {
       /* margin-top: 150px; */
   } 
   h1{
       font-size: 2.4rem;
   }
   h2{
       font-size: 1.4em;
   }
}

@media (max-width: 800px) {
    .inner-container {
       margin-top: 300px;
       
   } 
}



.content h2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content h2 .txt-type {
    font-family: 'Raleway', sans-serif;
    height: 100vh;
    background: #333;
    color: #ccc;
    overflow: hidden;
    
}
.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 440px;
    padding: 4rem 3rem;
}

.content  {
    font-weight: 200;
    margin: 0.4rem;
    font-size: 1.8rem;
}

.content p{
    font-size: 1.4rem;
}

.content .txt-type{
    text-align: center;
}
.txt-type > .txt {
    border-right: 0.2rem solid #777;
    font-size: 3rem;
}


.body-content{
        padding-top: 30px;
        border-top: 2px dashed #C0C0C0;
        display: flex;
        justify-content: space-between;
}
.body-content .guarantee {
    width: 30%;
    
}



.galleryContainer{
    width: 100%;
    height: 500px;
    max-width: 1000px;
    margin: auto;
    user-select: none;
    box-shadow: 0px 0px 3px 1px #00000078;
    padding: 10px;
    box-sizing: border-box;
}
.galleryContainer .slideShowContainer{
    width: 100%;
    height: 90%;
    overflow: hidden;
    background-color: gainsboro;
    position: relative;
}
.galleryContainer .slideShowContainer #playPause{
    width: 32px;
    height: 32px;
    position: absolute;
    background-image: url(images/playPause.png);
    background-repeat: no-repeat;
    z-index: 5;
    background-size: cover;
    margin: 5px;
    cursor: pointer;
}
.galleryContainer .slideShowContainer #playPause:hover{
    opacity: .7;
}
.galleryContainer .slideShowContainer .imageHolder{
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
}
.galleryContainer .slideShowContainer .imageHolder img{
    width: 100%;
    height: 100%;
}
.galleryContainer .slideShowContainer .imageHolder .captionText{
    display: none;
}

.galleryContainer .slideShowContainer .leftArrow,.galleryContainer .slideShowContainer .rightArrow{
    width: 50px;
    background: #00000036;
    position: absolute;
    left: 0;
    z-index: 1;
    transition: background 0.5s;
    height: 72px;
    top: 50%;
    transform: translateY(-50%);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.galleryContainer .slideShowContainer .rightArrow{
    left: auto;
    right: 0;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.galleryContainer .slideShowContainer .leftArrow:hover,.galleryContainer .slideShowContainer .rightArrow:hover{
    background: #000000a8;
    cursor: pointer;
}
.galleryContainer .arrow{
    display: inline-block;
    border: 3px solid white;
    width: 10px;
    height: 10px;
    border-left: none;
    border-bottom: none;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.galleryContainer .arrow.arrowLeft{
    transform: rotateZ(-135deg);
}
.galleryContainer .arrow.arrowRight{
    transform: rotateZ(45deg);
}


.galleryContainer .slideShowContainer>.captionTextHolder{
    position: absolute;
    bottom: 0;
    z-index: 1;
    color: white;
    font-family: sans-serif;
    font-size: 20px;
    text-align: center;
    width: 100%;
    background: #00000047;
    height: 50px;
    line-height: 50px;
    overflow: hidden;
}
.galleryContainer .slideShowContainer>.captionTextHolder>.captionText{
    margin: 0;
}

.galleryContainer #dotsContainer{
    width: 100%;
    height: 10%;
    text-align: center;
    padding-top: 20px;
    box-sizing: border-box;
}
.galleryContainer #dotsContainer .dots{
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-left: 5px;
    background-color: #bbb;
    cursor: pointer;
    transition:background-color 0.5s;
}
.galleryContainer #dotsContainer .dots:first-child{
    margin-left: 0;
}
.galleryContainer #dotsContainer .dots:hover,.galleryContainer #dotsContainer .dots.active{
    background-color: #717171;;
}




.galleryContainer .moveLeftCurrentSlide{
    animation-name: moveLeftCurrent;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-fill-mode:forwards;

}
.galleryContainer .moveLeftNextSlide{
    animation-name: moveLeftNext;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-fill-mode:forwards;
}
@keyframes moveLeftCurrent {
    from {margin-left: 0;opacity: 1;}
    to {margin-left: -100%;opacity: 1;}
}
@keyframes moveLeftNext {
    from {margin-left: 100%;opacity: 1;}
    to {margin-left: 0%;opacity: 1;}
}


.galleryContainer .moveRightCurrentSlide{
    animation-name: moveRightCurrent;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-fill-mode:forwards;
}
.galleryContainer .moveRightPrevSlide{
    animation-name: moveRightPrev;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-fill-mode:forwards;
}
@keyframes moveRightCurrent {
    from {margin-left: 0;opacity: 1;}
    to {margin-left: 100%;opacity: 1;}
}
@keyframes moveRightPrev {
    from {margin-left: -100%;opacity: 1;}
    to {margin-left: 0%;opacity: 1;}
}
.slideTextFromBottom {
    animation-name: slideTextFromBottom;
    animation-duration: 0.7s;
    animation-timing-function: ease-out;
}
@keyframes slideTextFromBottom {
    from {opacity: 0;margin-top: 100px}
    to {opacity: 1;margin-top: 0px;}
}
.slideTextFromTop {
    animation-name: slideTextFromTop;
    animation-duration: 0.7s;
    animation-timing-function: ease-out;
}
@keyframes slideTextFromTop {
    from {opacity: 0;margin-top: -100px}
    to {opacity: 1;margin-top: 0px;}
}


footer {
    margin: 32px 0;
    text-align: center;
    font-size: 14px;
  }


@media (max-width: 500px) {
    .container {
        max-width: 500px;
        width: 100%;
        margin: 0 auto;
    }
}

@media (max-width: 500px) {
    .main-nav {
      display: flex;
      flex-direction: column;
      border-bottom: none;
      height: 270px;
      border-bottom: 1px solid gray;
    }
}
@media (max-width: 500px) {
    .main-nav .nav-container {
      display: flex;
      flex-direction: column;
        height: 50px;
    }
}

@media (max-width: 500px) {
    .main-nav .nav-container nav a{
        width: 100%;
        display: block;
        text-align: center;
        padding: 20px 0;
        font-size: 20px;
}
}

                                    /* removed  */
/* @media (max-width: 500px) {
.cta h1 {
font-size: 2rem;
}

@media (max-width: 500px) {
.cta-text {
    font-size: 1.2rem;
    width: 100%;
    padding: 0 0 2% 2%;
    height: 250px;
}
@media (max-width: 500px) {
.buttons {
    display: flex;
        flex-direction: column;
        align-items: center;
        
} 
@media (max-width: 500px) {
     .button {
        

    } 
     */

/* 
    .buttons{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin: 50px;
    }
    
    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 45px;
        background-color: black;
        color: #FFFFFF;
        border: 1px solid #C0C0C0;
        cursor: pointer;
        font-size: 1.8rem;
    } 
     */


     @media (max-width: 500px) {
        .content {
           height: 360px;
           padding-top: 20px;
       } 
    }

     @media (max-width: 500px) {
        .content h2 {
           font-size: 2rem;
            text-align: center;
       } 
    }
       
       @media (max-width: 500px) {
        .content p {
           font-size: 1.2rem;
       } 
    }

       @media (max-width: 500px) {
        .txt-type > .txt {
           font-size: 2rem;
        }
       } 

       @media (max-width: 500px) {
        .body-content {
           flex-direction: column;
        }
       } 

         @media (max-width: 500px) {
        .body-content .guarantee {
           width: 100%;
           flex-wrap: nowrap;
           padding: 0 0 2% 2%;
        }
       } 

       @media (max-width: 500px) {
        .body-content .guarantee {
           width: 100%;
           flex-wrap: nowrap;
           padding: 0 0 2% 2%;
        }
       } 

       @media (max-width: 500px) {
        .body-content .guarantee h4 {
            font-size: 2rem;
            text-align: center;
       } 
    }
       @media (max-width: 500px) {
        .body-content .guarantee p {
            font-size: 1.2rem;
       } 
    }

        @media (max-width: 500px) {
        .galleryContainer {
           display: none;
        }
       }    

       @media (max-width: 800px) {
        .content {
           height: 440px;
           padding-top: 20px;
       } 
    }

    .market-content{
        height: 700px;
        padding: 50px 20px;
    }
.market-content .item {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
    flex-wrap: wrap;
   height: 230px;
   border: 2px solid black;
}
.market-content .mkt-btn {
    height: 30px;
    width: 246px;
    align-items: center;
}
.item .market-img {
    padding: 0 20px;
}